@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-normal-400.woff") format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato-normal-700.woff") format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Libre_Franklin-normal-300.woff") format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Libre_Franklin-normal-400.woff") format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Libre_Franklin-normal-700.woff") format('woff');
  unicode-range: U+0-10FFFF;
}