extends _layout/_default

block head-content
    title Mainpage
block content
    section.container-fluid
        .col-md-12
            h1 This is the first section
            p This is the first section paragraph.
    section.container-fluid
        .col-md-12
            h1 This is the second section
            p This is the second section paragraph.
